# Individual Milestone
## Data 604 - Fall 2025 - Group 1
### Author: Thanusha Balasubramanian

Our overall guiding research question for this project is the following:
**Which community in Calgary is the most ideal to buy a house in?** 

I will be focusing on the Community Amenities table from the City of Calgary (City of Calgary, 2025a). I will also use the Current Year Property Assessment table from the City of Calgary to tie in with crime statistics (City of Calgary, 2025b).

In the individual milestone I will be focusing on the following Questions:
1. Which communities have the most amenities?
2. Is it the communities with the highest property values?
3. At each price level (low, medium, high) which communities have the most amenities?

### Section 1: Load Data into pandas dataframes using SODA
* Please Note: This requires reading in the Calgary_App_Token.txt file provided with the workbook.
* The data is loaded using the Socrata Open Data API (SODA)

#### 1.1 Pull Community Points Dataset

In [1]:
import pandas as pd
from sodapy import Socrata

# Read a text file with the app token for Thanusha
with open("Calgary_App_Token.txt", "r", encoding="utf-8") as f:
    App_Token = f.read().strip() 

# Use Access token to pull tables
client = Socrata("data.calgary.ca", App_Token)

# Get Comunity Points Data
com_points = client.get("j9ps-fyst", limit = 100000)
com_points_df = pd.DataFrame.from_records(com_points)
com_points_df

,class,class_code,comm_code,name,sector,srg,comm_structure,longitude,latitude,point,:@computed_region_qeuu_piif,:@computed_region_xxr9_iwz2
0,Residential,1,BED,BEDDINGTON HEIGHTS,NORTH,ESTABLISHED,1960s/1970s,-114.08502139544244,51.13163280873361,"{'type': 'Point', 'coordinates': [-114.0850213...",88,4
1,Residential,1,EVN,EVANSTON,NORTH,COMPLETE,2010s,-114.1124526074949,51.17109493109596,"{'type': 'Point', 'coordinates': [-114.1124526...",161,2
2,Residential,1,KIL,KILLARNEY/GLENGARRY,CENTRE,ESTABLISHED,1950s,-114.13172726984385,51.031548429038665,"{'type': 'Point', 'coordinates': [-114.1317272...",115,8
3,Residential,1,BRA,BRAESIDE,SOUTH,ESTABLISHED,1960s/1970s,-114.10636591786145,50.955992888964275,"{'type': 'Point', 'coordinates': [-114.1063659...",277,11
4,Residential,1,BLM,BELMONT,SOUTH,DEVELOPING,BUILDING OUT,-114.055251748252,50.86868365691495,"{'type': 'Point', 'coordinates': [-114.0552517...",18,13
...,...,...,...,...,...,...,...,...,...,...,...,...
307,Residential,1,WHI,WHITEHORN,NORTHEAST,ESTABLISHED,1960s/1970s,-113.97006821006156,51.088779320674604,"{'type': 'Point', 'coordinates': [-113.9700682...",280,10
308,Residential,1,DAL,DALHOUSIE,NORTHWEST,ESTABLISHED,1960s/1970s,-114.15815301369994,51.1094101224059,"{'type': 'Point', 'coordinates': [-114.1581530...",299,4
309,Major Park,3,FPK,FISH CREEK PARK,SOUTH,N/A,PARKS,-114.02652092583433,50.909602044237715,"{'type': 'Point', 'coordinates': [-114.0265209...",207,14
310,Residual Sub Area,4,12B,12B,SOUTHEAST,FUTURE,UNDEVELOPED,-113.8986862332021,50.93923352479981,"{'type': 'Point', 'coordinates': [-113.8986862...",58,12
311,Residual Sub Area,4,06B,06B,WEST,FUTURE,UNDEVELOPED,-114.22994917205087,51.07788884528642,"{'type': 'Point', 'coordinates': [-114.2299491...",149,6

#### 1.2 Pull Community Services (Ammenities) Dataset

In [2]:
import pandas as pd
from sodapy import Socrata

# Read a text file with the app token for Thanusha
with open("Calgary_App_Token.txt", "r", encoding="utf-8") as f:
    App_Token = f.read().strip() 

# Use Access token to pull tables
client = Socrata("data.calgary.ca", App_Token)

## Get Community Services
com_service = client.get("x34e-bcjz", limit = 100000)
com_service_df = pd.DataFrame.from_records(com_service)
com_service_df

,type,name,address,comm_code,point,:@computed_region_hq2j_w7j9,:@computed_region_kxmf_bzkv,:@computed_region_4b54_tmc4,:@computed_region_4a3i_ccfj,:@computed_region_p8tp_5dkv
0,Community Centre,Rosemont Community Centre,2807 10 ST NW,CAP,"{'type': 'Point', 'coordinates': [-114.0860518...",51,63,7,2,7
1,Attraction,WinSport's Canada Olympic Park,88 Canada Olympic RD SW,COP,"{'type': 'Point', 'coordinates': [-114.2154212...",40,4,13,1,14
2,Community Centre,Mid-Sun Community Centre,50 Midpark RI SE,MID,"{'type': 'Point', 'coordinates': [-114.0566394...",161,263,6,3,13
3,Attraction,Arts Commons,205 8 AV SE,DNC,"{'type': 'Point', 'coordinates': [-114.0600698...",160,262,7,3,7
4,Community Centre,Willow Park / Mapleridge Community Centre,680 Acadia DR SE,MPL,"{'type': 'Point', 'coordinates': [-114.0433533...",216,93,6,3,5
...,...,...,...,...,...,...,...,...,...,...
206,Community Centre,Forest Heights/ Fonda Community Centre,4909 Forego AV SE,FHT,"{'type': 'Point', 'coordinates': [-113.9630312...",166,194,12,3,11
207,Community Centre,Cambrian Heights Community Centre,600 Northmount DR NW,CAM,"{'type': 'Point', 'coordinates': [-114.0873963...",66,276,7,2,4
208,Community Centre,Banff Trail Community Centre,2115 20 AV NW,BNF,"{'type': 'Point', 'coordinates': [-114.1089361...",183,153,7,2,7
209,Community Centre,Rosscarrock Community Centre,4411 10 AV SW,RCK,"{'type': 'Point', 'coordinates': [-114.1507671...",36,281,14,1,2
210,Community Centre,Canyon Meadows Community Centre,848 Cantabrian DR SW,CAN,"{'type': 'Point', 'coordinates': [-114.0788589...",24,283,5,1,6

#### 1.3 Pull Current Year (2025) Property Assessments

In [3]:
import pandas as pd
from sodapy import Socrata

# Read a text file with the app token for Thanusha
with open("Calgary_App_Token.txt", "r", encoding="utf-8") as f:
    App_Token = f.read().strip() 

# Use Access token to pull tables
client = Socrata("data.calgary.ca", App_Token)

## Get Current Property Assessments
curr_prop = client.get("4bsw-nn7w", limit = 1000000)
curr_prop_df = pd.DataFrame.from_records(curr_prop)
curr_prop_df

,roll_year,roll_number,address,assessed_value,assessment_class,assessment_class_description,nr_assessed_value,comm_code,comm_name,land_use_designation,...,land_size_sm,land_size_sf,land_size_ac,mod_date,sub_property_use,multipolygon,unique_key,year_of_construction,re_assessed_value,fl_assessed_value
0,2025,203304043,10110 1 AV SW,42500.0,NR,Non-residential,42500.0,OPH,OSPREY HILL,M-2,...,690.0,7427.0,0.17,2025-01-10T00:00:00.000Z,ATR,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",2025203304043960690815,NaN,NaN,NaN
1,2025,203304035,10258 1 AV SW,12500.0,NR,Non-residential,12500.0,OPH,OSPREY HILL,S-UN,...,210.0,2260.0,0.05,2025-01-10T00:00:00.000Z,ATR,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",2025203304035960690816,NaN,NaN,NaN
2,2025,203304027,10320 1 AV SW,5000.0,NR,Non-residential,5000.0,OPH,OSPREY HILL,"S-SPR,S-UN",...,90.0,969.0,0.02,2025-01-10T00:00:00.000Z,ATR,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",2025203304027960690817,NaN,NaN,NaN
3,2025,203304019,10360 1 AV SW,10000.0,NR,Non-residential,10000.0,OPH,OSPREY HILL,R-G,...,170.0,1830.0,0.04,2025-01-10T00:00:00.000Z,ATR,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",2025203304019960690818,NaN,NaN,NaN
4,2025,203304001,10480 1 AV SW,50000.0,NR,Non-residential,50000.0,OPH,OSPREY HILL,M-1,...,820.0,8827.0,0.2,2025-01-10T00:00:00.000Z,ATR,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",2025203304001960690812,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
588820,2025,086127503,4815 40 AV SW,758500.0,RE,Residential,NaN,GLA,GLAMORGAN,R-CG,...,510.40000000000003,5494.0,0.13,2025-04-09T00:00:00.000Z,RE0111,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",2025086127503250275020,1971.0,758500.0,NaN
588821,2025,147043806,1062 SHAWNEE RD SW,740000.0,RE,Residential,NaN,SHS,SHAWNEE SLOPES,R-CG,...,433.0,4661.0,0.11,2025-04-23T00:00:00.000Z,RE0120,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",202514704380630104278,1988.0,740000.0,NaN
588822,2025,155091606,143 MIDLAND PL SE,552000.0,RE,Residential,NaN,MID,MIDNAPORE,R-CG,...,444.90000000000003,4789.0,0.11,2025-04-23T00:00:00.000Z,RE0120,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",2025155091606930272275,1980.0,552000.0,NaN
588823,2025,127219905,34 OAKVALE PL SW,563000.0,RE,Residential,NaN,OAK,OAKRIDGE,R-CG,...,400.0,4306.0,0.1,2025-04-23T00:00:00.000Z,RE0120,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",2025127219905230560392,1972.0,563000.0,NaN
588824,2025,063122600,45 STRADWICK PL SW,653000.0,RE,Residential,NaN,STR,STRATHCONA PARK,R-CG,...,358.8,3862.0,0.09,2025-04-23T00:00:00.000Z,RE0120,"{'type': 'MultiPolygon', 'coordinates': [[[[-1...",2025063122600110281990,1982.0,653000.0,NaN

### Section 2: Clean the Dataframes
* The dataframes have to be cleaned before they can be turned into SQL tables

#### 2.1 Clean the community points data frame

In [4]:
import pandas as pd

# start from your existing DataFrame com_points_df
cleaned_com_points = com_points_df.copy()

# drop the original point column if present
if "point" in cleaned_com_points.columns:
    cleaned_com_points = cleaned_com_points.drop(columns=["point"])

# remove leading @ from column names (common with Socrata computed_region fields)
cleaned_com_points = cleaned_com_points.rename(columns=lambda c: c.lstrip("@"))

# drop any column whose name contains 'computed_region' (case-insensitive)
cols_to_drop = [c for c in cleaned_com_points.columns if "computed_region" in c.lower()]
if cols_to_drop:
    cleaned_com_points = cleaned_com_points.drop(columns=cols_to_drop)

# normalize common empty markers to pandas NA so they become SQL NULLs later
cleaned_com_points = cleaned_com_points.replace({"": pd.NA, "NA": pd.NA, "N/A": pd.NA})

# convert every column to pandas StringDtype (keeps missing as <NA>) — do this first to
# preserve original raw text, then convert specific columns to numeric types below
cleaned_com_points = cleaned_com_points.astype("string")

# convert class_code to nullable integer (Int64). Non-numeric values become <NA>.
cleaned_com_points["class_code"] = pd.to_numeric(
    cleaned_com_points["class_code"], errors="coerce"
).astype("Int64")

# convert longitude and latitude to float64 (precision for coordinates).
cleaned_com_points["longitude"] = pd.to_numeric(
    cleaned_com_points["longitude"], errors="coerce"
).astype("float64")
cleaned_com_points["latitude"] = pd.to_numeric(
    cleaned_com_points["latitude"], errors="coerce"
).astype("float64")

# quick check
cleaned_com_points.dtypes

class             string[python]
class_code                 Int64
comm_code         string[python]
name              string[python]
sector            string[python]
srg               string[python]
comm_structure    string[python]
longitude                float64
latitude                 float64
dtype: object

#### 2.2 Clean the community services data frame

In [5]:
import pandas as pd

# start from your existing DataFrame com_service_df
cleaned_com_service = com_service_df.copy()

# 1) drop the original point column if present
if "point" in cleaned_com_service.columns:
    cleaned_com_service = cleaned_com_service.drop(columns=["point"])

# 2) remove leading @ from column names (common with Socrata computed_region fields)
cleaned_com_service = cleaned_com_service.rename(columns=lambda c: c.lstrip("@"))

# 3) drop any column whose name contains 'computed_region' (case-insensitive)
cols_to_drop = [c for c in cleaned_com_service.columns if "computed_region" in c.lower()]
if cols_to_drop:
    cleaned_com_service = cleaned_com_service.drop(columns=cols_to_drop)

# 4) normalize common empty markers to pandas NA so they become SQL NULLs later
cleaned_com_service = cleaned_com_service.replace({"": pd.NA, "NA": pd.NA, "N/A": pd.NA})

# 5) convert every column to pandas StringDtype (keeps missing as <NA>) — preserves raw text
cleaned_com_service = cleaned_com_service.astype("string")

# 6) convert class_code to nullable integer (Int64). Non-numeric values become <NA>.
if "class_code" in cleaned_com_service.columns:
    cleaned_com_service["class_code"] = pd.to_numeric(
        cleaned_com_service["class_code"], errors="coerce"
    ).astype("Int64")

# quick check
cleaned_com_service.dtypes

type         string[python]
name         string[python]
address      string[python]
comm_code    string[python]
dtype: object

#### 2.3 Clean the property assessments data frame

In [6]:
import pandas as pd
import numpy as np

# start from your existing DataFrame curr_prop_df
cleaned_curr_prop = curr_prop_df.copy()

# 1) drop spatial or raw geometry and point columns if present
for col in ("point", "multipolygon", "geometry"):
    if col in cleaned_curr_prop.columns:
        cleaned_curr_prop = cleaned_curr_prop.drop(columns=[col])

# 2) remove leading @ from column names and normalize case
cleaned_curr_prop = cleaned_curr_prop.rename(columns=lambda c: c.lstrip("@").strip())

# 3) drop any column whose name contains 'computed_region' (case-insensitive)
cols_to_drop = [c for c in cleaned_curr_prop.columns if "computed_region" in c.lower()]
if cols_to_drop:
    cleaned_curr_prop = cleaned_curr_prop.drop(columns=cols_to_drop)

# 4) normalize common empty markers to pandas NA so they become SQL NULLs later
cleaned_curr_prop = cleaned_curr_prop.replace({"": pd.NA, "NA": pd.NA, "N/A": pd.NA, "null": pd.NA})

# 5) convert general textual columns to pandas StringDtype to preserve missingness
#    but avoid overwriting columns that should remain numeric
numeric_expected = {
    "roll_year": "Int64",
    "year_of_construction": "Int64",
    "assessed_value": "Float64",
    "nr_assessed_value": "Float64",
    "re_assessed_value": "Float64",
    "fl_assessed_value": "Float64",
    "land_size_sm": "Float64",
    "land_size_sf": "Float64",
    "land_size_ac": "Float64",
}

skip_cols = set(numeric_expected.keys()) | {"roll_number"}
for c in cleaned_curr_prop.columns:
    if c not in skip_cols:
        cleaned_curr_prop[c] = cleaned_curr_prop[c].astype("string")

# 6) coerce numeric columns to appropriate nullable dtypes (assumes values are already plain numbers)
for col, dtype in numeric_expected.items():
    if col in cleaned_curr_prop.columns:
        cleaned_curr_prop[col] = pd.to_numeric(
            cleaned_curr_prop[col], errors="coerce"
        ).astype(dtype)

# 7) ensure roll_number remains a clean string (no leading/trailing spaces)
if "roll_number" in cleaned_curr_prop.columns:
    cleaned_curr_prop["roll_number"] = cleaned_curr_prop["roll_number"].astype("string").str.strip()

# 8) final quick checks (view dtypes and a few rows)
cleaned_curr_prop.dtypes

roll_year                                Int64
roll_number                     string[python]
address                         string[python]
assessed_value                         Float64
assessment_class                string[python]
assessment_class_description    string[python]
nr_assessed_value                      Float64
comm_code                       string[python]
comm_name                       string[python]
land_use_designation            string[python]
property_type                   string[python]
land_size_sm                           Float64
land_size_sf                           Float64
land_size_ac                           Float64
mod_date                        string[python]
sub_property_use                string[python]
unique_key                      string[python]
year_of_construction                     Int64
re_assessed_value                      Float64
fl_assessed_value                      Float64
dtype: object

### Section 3: Load the Cleaned Dataframes into the SQL database using SQL Alchemy

#### 3.1 Get SQL Version

In [7]:
import sqlalchemy as sq
sq.__version__

'2.0.43'

#### 3.2 Create the Engine for the SQL connection

In [8]:
from sqlalchemy import create_engine

# assuming the database password is in your current directory (which it is on Cloudlabs by default)
with open("dbpasswd", "r", encoding="utf-8") as f:
    PWD = f.read().strip() 

USER = "student"
DB   = "student"

engine = create_engine(
    f"mysql+mysqlconnector://{USER}:{PWD}@127.0.0.1:3306/{DB}"
)

#### 3.3 Load Community Points, and Community Services cleaned dataframes into the SQL tables
These are done together, as they are smaller tables and do not need to be split into chunks for loading

In [9]:
##load the community points data (overwrite any exsisting tables)
cleaned_com_points.to_sql('Community_Points', con=engine, if_exists="replace", index=False)

##load the community services data (overwrite any exsisting tables)
cleaned_com_service.to_sql('Community_Service', con=engine, if_exists="replace", index=False)

-1

#### 3.4 Load the cleaned Current Year Property Assessments into SQL tables 
This is completed in chunks as the table is very large (over 500 k  rows of data).

In [10]:
import math

# parameters
table_name = "Current_Property_Assessments"
chunksize = 25000

# ensure table is created fresh once, then append chunks
# create empty table first by writing zero rows (preserves dtypes chosen by pandas)
cleaned_curr_prop.head(0).to_sql(table_name, con=engine, if_exists="replace", index=False)

nrows = len(cleaned_curr_prop)
nchunks = math.ceil(nrows / chunksize)

for i, start in enumerate(range(0, nrows, chunksize), start=1):
    chunk = cleaned_curr_prop.iloc[start : start + chunksize]
    chunk.to_sql(table_name, con=engine, if_exists="append", index=False, method="multi")
    print(f"Chunk {i}/{nchunks} written ({min(start + chunksize, nrows)}/{nrows} rows)")
print("All chunks written.")

Chunk 1/24 written (25000/588825 rows)
Chunk 2/24 written (50000/588825 rows)
Chunk 3/24 written (75000/588825 rows)
Chunk 4/24 written (100000/588825 rows)
Chunk 5/24 written (125000/588825 rows)
Chunk 6/24 written (150000/588825 rows)
Chunk 7/24 written (175000/588825 rows)
Chunk 8/24 written (200000/588825 rows)
Chunk 9/24 written (225000/588825 rows)
Chunk 10/24 written (250000/588825 rows)
Chunk 11/24 written (275000/588825 rows)
Chunk 12/24 written (300000/588825 rows)
Chunk 13/24 written (325000/588825 rows)
Chunk 14/24 written (350000/588825 rows)
Chunk 15/24 written (375000/588825 rows)
Chunk 16/24 written (400000/588825 rows)
Chunk 17/24 written (425000/588825 rows)
Chunk 18/24 written (450000/588825 rows)
Chunk 19/24 written (475000/588825 rows)
Chunk 20/24 written (500000/588825 rows)
Chunk 21/24 written (525000/588825 rows)
Chunk 22/24 written (550000/588825 rows)
Chunk 23/24 written (575000/588825 rows)
Chunk 24/24 written (588825/588825 rows)
All chunks written.

### Section 4: Perform SQL Queries for Analysis

#### Query 1: Find Community Services which do not have an associated community code. Select all with single filter.

(1) We want to explore the community services table to see if there are any ammenities which do not have an associated neighborhood. The results from the query are for community services/amentities that either fall across multiple communities (example: Peach Bridge) or are not yet built (exampe: Scotia centre), or may have community code not included for other reasons. We will not be including these in our analysis. This will be our first query.

In [11]:
query_table_a1 = pd.read_sql_query('SELECT * FROM Community_Service WHERE comm_code is NULL;', engine)
query_table_a1

,type,name,address,comm_code
0,Attraction,Studio Bell National Music Centre,850 4 ST SE,None
1,Attraction,Scotia Place,None,None
2,Attraction,Peace Bridge,None,None
3,Attraction,BMO Centre,None,None
4,Commercial,Manchester Industrial Park,None,None
5,Attraction,The Police Museum,5111 47 ST NE,None
6,Commercial,Deerfoot Meadows,None,None
7,Commercial,Foothills Industrial Park,None,None
8,Attraction,Spruce Meadows Equestrian Centre,18011 Spruce Meadows WY SW,None
9,PHS Clinic,Village Square Community Health Centre,2623 56 Street NE,None

#### Query 2: Query of the Community Services which do not have a null comm_code, find out how many of each type of community service there is. (Group by)

(2) We want to see what is the most prevelent community service type there is. Our results indicate that the most common type of community service/ammenity is a Community Centre. The second least common type of community ammenity of "Attraction" has less than half the amount of community centres.

In [12]:
query2 = """
SELECT type, COUNT(name) AS service_count
FROM Community_Service
WHERE comm_code IS NOT NULL
GROUP BY type 
ORDER BY service_count DESC;
"""

df2 = pd.read_sql_query(query2, engine)
df2

               type  service_count
0  Community Centre            107
1        Attraction             38
2           Library             21
3             Court              9
4        PHS Clinic              8
5    Social Dev Ctr              8
6      Visitor Info              5
7          Hospital              5

#### Query 3: Join Community Points to Community Service using a Left Join and filter for residential commmunities to get a listing of all communities and their services.

(3) Query 3 is an intermediary step to getting a list of which communities have the most and least ammenities. I am using query 3 to get a list of all residential communities and adding in their community services, so I am using a left join. This results in a table where every residential community is listed, however it will have null values in service_type, service_name and address if it does not have any ammenities. Communtities with multiple amenities will be listed multiple times, (ie. one row per ammenity). Class_code of 1 from community points is filtered to include only residential neighborhoods.

In [13]:
query3 = """
SELECT 
    cp.class,
    cp.class_code,
    cp.comm_code,
    cp.name AS community_name,
    cp.sector,
    cp.srg,
    cs.type AS service_type,
    cs.name AS service_name,
    cs.address
FROM Community_Points AS cp
LEFT JOIN Community_Service AS cs
    ON cp.comm_code = cs.comm_code
WHERE cp.class_code = 1;
"""

df3 = pd.read_sql_query(query3, engine)
df3

,class,class_code,comm_code,community_name,sector,srg,service_type,service_name,address
0,Residential,1,CAP,CAPITOL HILL,CENTRE,ESTABLISHED,Community Centre,Rosemont Community Centre,2807 10 ST NW
1,Residential,1,MID,MIDNAPORE,SOUTH,ESTABLISHED,Community Centre,Mid-Sun Community Centre,50 Midpark RI SE
2,Residential,1,DNC,DOWNTOWN COMMERCIAL CORE,CENTRE,ESTABLISHED,Attraction,Arts Commons,205 8 AV SE
3,Residential,1,MPL,MAPLE RIDGE,SOUTH,ESTABLISHED,Community Centre,Willow Park / Mapleridge Community Centre,680 Acadia DR SE
4,Residential,1,CHN,CHINATOWN,CENTRE,ESTABLISHED,Attraction,Calgary Chinese Cultural Centre,197 1 ST SW
...,...,...,...,...,...,...,...,...,...
282,Residential,1,COA,COACH HILL,WEST,ESTABLISHED,None,None,None
283,Residential,1,SAD,SADDLE RIDGE,NORTHEAST,DEVELOPING,None,None,None
284,Residential,1,MAC,MACEWAN GLEN,NORTH,ESTABLISHED,None,None,None
285,Residential,1,LIV,LIVINGSTON,NORTH,DEVELOPING,None,None,None
286,Residential,1,HUX,HUXLEY,EAST,DEVELOPING,None,None,None

#### Query 4: Query the results of Query #3 to rank the residential communities by their number of services.

(4) Query 4 builds on query 3, by treating query 3 as a subquery and querying query 3 to rank, communtities by number of community services it has. We are also maintining the filtering of Community Points for class_code of 1 (residential nerighborhoods only).

In [14]:
query4 = """
SELECT 
    q3.comm_code,
    q3.community_name,
    COUNT(q3.service_name) AS service_count,
    RANK() OVER (ORDER BY COUNT(q3.service_name) DESC) AS service_rank
FROM (
    SELECT 
        cp.class,
        cp.class_code,
        cp.comm_code,
        cp.name AS community_name,
        cp.sector,
        cp.srg,
        cs.type AS service_type,
        cs.name AS service_name,
        cs.address
    FROM Community_Points AS cp
    LEFT JOIN Community_Service AS cs
        ON cp.comm_code = cs.comm_code
    WHERE cp.class_code = 1
) AS q3
GROUP BY q3.comm_code, q3.community_name
ORDER BY service_count DESC;
"""

df4 = pd.read_sql_query(query4, engine)
df4

    comm_code            community_name  service_count  service_rank
0         DNC  DOWNTOWN COMMERCIAL CORE             24             1
1         BLN                  BELTLINE              6             2
2         FLN               FOREST LAWN              5             3
3         UOC     UNIVERSITY OF CALGARY              4             4
4         HUN          HUNTINGTON HILLS              4             4
..        ...                       ...            ...           ...
216       COA                COACH HILL              0           122
217       SAD              SADDLE RIDGE              0           122
218       MAC              MACEWAN GLEN              0           122
219       LIV                LIVINGSTON              0           122
220       HUX                    HUXLEY              0           122

[221 rows x 4 columns]

#### Query 4.1: How many communities have no community services within the community?

From the results of Query 4 we can see that a number of communities have a service_count of 0 which indicates that the community does not have any services located within it's boundaries. If we count how many residential communtiies have no services it is 100. This does not necessarily indicate a complete lack of services. We are limited in that our dataset of community services came with only the community it was located in, it did not include which communities it was near. There are 100 residential communities which do not have ammenities located within them, but do have amenities near by (within the boundaries of a different community).

In [15]:
query4_1 = """
SELECT *
FROM (
    SELECT 
        q3.comm_code,
        q3.community_name,
        COUNT(q3.service_name) AS service_count,
        RANK() OVER (ORDER BY COUNT(q3.service_name) DESC) AS service_rank
    FROM (
        SELECT 
            cp.class,
            cp.class_code,
            cp.comm_code,
            cp.name AS community_name,
            cp.sector,
            cp.srg,
            cs.type AS service_type,
            cs.name AS service_name,
            cs.address
        FROM Community_Points AS cp
        LEFT JOIN Community_Service AS cs
            ON cp.comm_code = cs.comm_code
        WHERE cp.class_code = 1
    ) AS q3
    GROUP BY q3.comm_code, q3.community_name
    ORDER BY service_count DESC
) AS ranked
WHERE ranked.service_count = 0;
"""
df4_1 = pd.read_sql_query(query4_1, engine)
df4_1

   comm_code   community_name  service_count  service_rank
0        EVN         EVANSTON              0           122
1        BLM          BELMONT              0           122
2        ROY        ROYAL OAK              0           122
3        CUR  CURRIE BARRACKS              0           122
4        HKS        HOTCHKISS              0           122
..       ...              ...            ...           ...
95       COA       COACH HILL              0           122
96       SAD     SADDLE RIDGE              0           122
97       MAC     MACEWAN GLEN              0           122
98       LIV       LIVINGSTON              0           122
99       HUX           HUXLEY              0           122

[100 rows x 4 columns]

#### Query 4.2: How many communities have at least two community services within the community?

We will build on the query4 to filter for communities where the service count is 2 or more.

In [16]:
query4_2 = """
SELECT *
FROM (
    SELECT 
        q3.comm_code,
        q3.community_name,
        COUNT(q3.service_name) AS service_count,
        RANK() OVER (ORDER BY COUNT(q3.service_name) DESC) AS service_rank
    FROM (
        SELECT 
            cp.class,
            cp.class_code,
            cp.comm_code,
            cp.name AS community_name,
            cp.sector,
            cp.srg,
            cs.type AS service_type,
            cs.name AS service_name,
            cs.address
        FROM Community_Points AS cp
        LEFT JOIN Community_Service AS cs
            ON cp.comm_code = cs.comm_code
        WHERE cp.class_code = 1
    ) AS q3
    GROUP BY q3.comm_code, q3.community_name
    ORDER BY service_count DESC
) AS ranked
WHERE ranked.service_count > 1;
"""
df4_2 = pd.read_sql_query(query4_2, engine)
df4_2

   comm_code                 community_name  service_count  service_rank
0        DNC       DOWNTOWN COMMERCIAL CORE             24             1
1        BLN                       BELTLINE              6             2
2        FLN                    FOREST LAWN              5             3
3        UOC          UNIVERSITY OF CALGARY              4             4
4        HUN               HUNTINGTON HILLS              4             4
5        ING                      INGLEWOOD              3             6
6        HOU  HOUNSFIELD HEIGHTS/BRIAR HILL              3             6
7        BRD           BRIDGELAND/RIVERSIDE              3             6
8        CAP                   CAPITOL HILL              2             9
9        RAN                     RANCHLANDS              2             9
10       KIN                      KINGSLAND              2             9
11       SOC                  SOUTH CALGARY              2             9
12       SHN                      SHAWNESSY              2             9
13       BOW                        BOWNESS              2             9
14       SNA                        SUNALTA              2             9
15       SOW                      SOUTHWOOD              2             9
16       ACA                         ACADIA              2             9
17       STA            ST. ANDREWS HEIGHTS              2             9
18       MON                     MONTGOMERY              2             9
19       CED                      CEDARBRAE              2             9
20       REN                        RENFREW              2             9
21       SPR                   SPRUCE CLIFF              2             9
22       BRE                      BRENTWOOD              2             9
23       ARB                    ARBOUR LAKE              2             9
24       SET                          SETON              2             9
25       DNW              DOWNTOWN WEST END              2             9
26       MOP                 MOUNT PLEASANT              2             9
27       HIL                      HILLHURST              2             9
28       RCK                    ROSSCARROCK              2             9
29       PIN                      PINERIDGE              2             9

There are 30 communities with 2 or more community services. The top 5 communities in terms of amenities are: 
 1. DOWNTOWN COMMERCIAL CORE (DNC) - 24 amenities
 2. BELTLINE (BLN) - 6 amenities
 3. FOREST LAWN (FLN) - 5 amenities
 4. UNIVERSITY OF CALGARY (UOC) - 4 amenities
 5. HUNTINGTON HILLS (HUN) - 4 amenities

#### Query 5: Query the current_year_property_assessments table to find the median residential property assessment value in each community.

The median property assessment value by community will be joined with the community services. Initially, we are just seeing which community_codes have the highest and lowest median assessed value.

The property assessments table is filtered by for assessment_class = 'RE' which is residential real estate. Additionally, we are filtering for land with assessed residential value by filtering for re_assessed_value IS NOT NULL.

In [17]:
query5 = """
SELECT DISTINCT
    comm_code,
    MEDIAN(re_assessed_value) OVER (
        PARTITION BY comm_code
    ) AS median_re_assessed_value
FROM Current_Property_Assessments
WHERE assessment_class = 'RE'
  AND re_assessed_value IS NOT NULL
ORDER BY median_re_assessed_value DESC;
"""

df5 = pd.read_sql_query(query5, engine)
df5

    comm_code  median_re_assessed_value
0         QPK                42860000.0
1         UOC                24770000.0
2         HOR                22440000.0
3         13K                16620000.0
4         OPH                12960200.0
..        ...                       ...
265       BUR                  109000.0
266       RRC                   66000.0
267       EAU                   45500.0
268       DNW                   37000.0
269       STD                   15760.0

[270 rows x 2 columns]

#### Query 6: Combine Query 4 and Query 5 to find the median assessed residential property value for all the communtities ranked by number of services.

Query 6 joins results of query 4 (where we found the number of community services for each residential community) with the query results from query 5 (where we pulled the median residential assessed property value for each community) and incorporates an inner join. An inner join is used in this instance as we want to identify only communities we have previously identified as residential communities (the property assesssments table includes non-residential communities).

In [18]:
query6 = """
SELECT 
    q4.comm_code,
    q4.community_name,
    q4.service_count,
    q4.service_rank,
    q5.median_re_assessed_value
FROM (
    SELECT 
        cp.comm_code,
        cp.name AS community_name,
        COUNT(cs.name) AS service_count,
        RANK() OVER (ORDER BY COUNT(cs.name) DESC) AS service_rank
    FROM Community_Points AS cp
    LEFT JOIN Community_Service AS cs
        ON cp.comm_code = cs.comm_code
    WHERE cp.class_code = 1
    GROUP BY cp.comm_code, cp.name
) AS q4
INNER JOIN (
    SELECT DISTINCT
        comm_code,
        MEDIAN(re_assessed_value) OVER (
            PARTITION BY comm_code
        ) AS median_re_assessed_value
    FROM Current_Property_Assessments
    WHERE assessment_class = 'RE'
      AND re_assessed_value IS NOT NULL
) AS q5
ON q4.comm_code = q5.comm_code
ORDER BY q4.service_rank;
"""

df6 = pd.read_sql_query(query6, engine)
df6

,comm_code,community_name,service_count,service_rank,median_re_assessed_value
0,DNC,DOWNTOWN COMMERCIAL CORE,24,1,146500.0
1,BLN,BELTLINE,6,2,229000.0
2,FLN,FOREST LAWN,5,3,467500.0
3,HUN,HUNTINGTON HILLS,4,4,578000.0
4,UOC,UNIVERSITY OF CALGARY,4,4,24770000.0
...,...,...,...,...,...
215,WAL,WALDEN,0,122,561750.0
216,WBN,WOODBINE,0,122,646750.0
217,WSP,WEST SPRINGS,0,122,780500.0
218,WWO,WOLF WILLOW,0,122,526500.0
219,YKV,YORKVILLE,0,122,647500.0

Based on the results of query 6 we can identify that the communities with the most amenities are not necessarily the communities with the highest assessed property values. As we can see from the results the community with the most amenities is the DOWNTOWN COMMERCIAL CORE, however it has a relatively low median property value ($146,500) in comparison with the other top 5 communities by ammentiy. 

This is likely due to the majority of dwellings in downtown being multi-unit dwellings (ie. apartments, condos, townhouses) in comaprison to a communtiy like the University of Calgary which has a larger amount of single-family homes which are priced high due to it's proximity to services and the University.

#### Query 7: Lastly query 7 is used to add in a calculation for property_value_class based on the IQR of median_re_assessed_value by community.

The property_value_class is defined based on the IQR of the median_re_assessed_value. Communities who has a median_re_assessed_value below the first quartile of median_re_assessed_value by commuity in calgary are classified as having "low" property_value_class. communities who have a median property value in the IQR range (25% to 75%) are classified as medium property value. Communities that have a median property value in the fourth quartile (over 75%) are classified as having high property value.

In [19]:
query7 = """
WITH q6 AS (
    SELECT 
        q4.comm_code,
        q4.community_name,
        q4.service_count,
        q4.service_rank,
        q5.median_re_assessed_value
    FROM (
        SELECT 
            cp.comm_code,
            cp.name AS community_name,
            COUNT(cs.name) AS service_count,
            RANK() OVER (ORDER BY COUNT(cs.name) DESC) AS service_rank
        FROM Community_Points AS cp
        LEFT JOIN Community_Service AS cs
            ON cp.comm_code = cs.comm_code
        WHERE cp.class_code = 1
        GROUP BY cp.comm_code, cp.name
    ) AS q4
    INNER JOIN (
        SELECT DISTINCT
            comm_code,
            MEDIAN(re_assessed_value) OVER (
                PARTITION BY comm_code
            ) AS median_re_assessed_value
        FROM Current_Property_Assessments
        WHERE assessment_class = 'RE'
          AND re_assessed_value IS NOT NULL
    ) AS q5
    ON q4.comm_code = q5.comm_code
),
thresholds AS (
    SELECT 
        PERCENTILE_CONT(0.25) WITHIN GROUP (ORDER BY median_re_assessed_value) 
            OVER () AS q1,
        PERCENTILE_CONT(0.75) WITHIN GROUP (ORDER BY median_re_assessed_value) 
            OVER () AS q3
    FROM q6
    LIMIT 1
)
SELECT 
    q6.comm_code,
    q6.community_name,
    q6.service_count,
    q6.service_rank,
    q6.median_re_assessed_value,
    CASE
        WHEN q6.median_re_assessed_value < thresholds.q1 THEN 'Low'
        WHEN q6.median_re_assessed_value <= thresholds.q3 THEN 'Medium'
        ELSE 'High'
    END AS property_value_class
FROM q6, thresholds
ORDER BY q6.service_rank;
"""

df7 = pd.read_sql_query(query7, engine)
df7

,comm_code,community_name,service_count,service_rank,median_re_assessed_value,property_value_class
0,DNC,DOWNTOWN COMMERCIAL CORE,24,1,146500.0,Low
1,BLN,BELTLINE,6,2,229000.0,Low
2,FLN,FOREST LAWN,5,3,467500.0,Low
3,HUN,HUNTINGTON HILLS,4,4,578000.0,Medium
4,UOC,UNIVERSITY OF CALGARY,4,4,24770000.0,High
...,...,...,...,...,...,...
215,WAL,WALDEN,0,122,561750.0,Medium
216,WBN,WOODBINE,0,122,646750.0,Medium
217,WSP,WEST SPRINGS,0,122,780500.0,High
218,WWO,WOLF WILLOW,0,122,526500.0,Medium
219,YKV,YORKVILLE,0,122,647500.0,Medium

### Write the results of Query 7 to a table in the database, as it has all the info needed to answer our guiding questions.

In [20]:
## Let's write the results of the final query to the database as a table so we can use it.
df7.to_sql(name="Communities_service_and_value", con=engine, if_exists="replace", index=False)

-1

### Section 5: Answering The Guiding Questions

#### Which communities have the most amenities?
(see below for display of answer)

In [21]:
query_top_5 = """
SELECT 
    comm_code,
    community_name,
    service_count,
    service_rank
FROM Communities_service_and_value
ORDER BY service_count DESC
LIMIT 5;
"""

df_top5 = pd.read_sql_query(query_top_5, engine)
df_top5

  comm_code            community_name  service_count  service_rank
0       DNC  DOWNTOWN COMMERCIAL CORE             24             1
1       BLN                  BELTLINE              6             2
2       FLN               FOREST LAWN              5             3
3       HUN          HUNTINGTON HILLS              4             4
4       UOC     UNIVERSITY OF CALGARY              4             4

#### Are the communities with the highest property values the ones with the most amenities?

In [22]:
query_top5_all = """
SELECT 
    comm_code,
    community_name,
    service_count,
    service_rank,
    median_re_assessed_value,
    property_value_class
FROM Communities_service_and_value
ORDER BY service_count DESC
LIMIT 5;
"""

df_top5_all = pd.read_sql_query(query_top5_all, engine)
df_top5_all

,comm_code,community_name,service_count,service_rank,median_re_assessed_value,property_value_class
0,DNC,DOWNTOWN COMMERCIAL CORE,24,1,146500.0,Low
1,BLN,BELTLINE,6,2,229000.0,Low
2,FLN,FOREST LAWN,5,3,467500.0,Low
3,HUN,HUNTINGTON HILLS,4,4,578000.0,Medium
4,UOC,UNIVERSITY OF CALGARY,4,4,24770000.0,High

In [23]:
query_high = """
SELECT 
    comm_code,
    community_name,
    service_count,
    service_rank,
    median_re_assessed_value,
    property_value_class
FROM Communities_service_and_value
WHERE property_value_class = 'High'
ORDER BY service_rank ASC;
"""

df_high = pd.read_sql_query(query_high, engine)
df_high

,comm_code,community_name,service_count,service_rank,median_re_assessed_value,property_value_class
0,UOC,UNIVERSITY OF CALGARY,4,4,24770000.0,High
1,CAP,CAPITOL HILL,2,9,766000.0,High
2,MOP,MOUNT PLEASANT,2,9,777500.0,High
3,STA,ST. ANDREWS HEIGHTS,2,9,1000000.0,High
4,ALT,ALTADORE,1,31,1000000.0,High
5,BNF,BANFF TRAIL,1,31,804000.0,High
6,CAM,CAMBRIAN HEIGHTS,1,31,768500.0,High
7,CHW,CHARLESWOOD,1,31,802500.0,High
8,EAG,EAGLE RIDGE,1,31,1990000.0,High
9,EDG,EDGEMONT,1,31,844500.0,High
10,EPK,ELBOW PARK,1,31,1750000.0,High
11,EYA,ELBOYA,1,31,980750.0,High
12,GDL,GLENDALE,1,31,763500.0,High
13,KEL,KELVIN GROVE,1,31,1030000.0,High
14,LKB,LAKE BONAVISTA,1,31,802000.0,High
15,LKV,LAKEVIEW,1,31,842500.0,High
16,MEA,MEADOWLARK PARK,1,31,784000.0,High
17,NGM,NORTH GLENMORE PARK,1,31,878750.0,High
18,OAK,OAKRIDGE,1,31,758500.0,High
19,PKD,PARKDALE,1,31,843000.0,High
20,PKL,PARKLAND,1,31,808500.0,High
21,RDL,ROSEDALE,1,31,1200000.0,High
22,RIC,RICHMOND,1,31,825000.0,High
23,SCE,SCENIC ACRES,1,31,766500.0,High
24,SIG,SIGNAL HILL,1,31,791500.0,High
25,STR,STRATHCONA PARK,1,31,879000.0,High
26,UMR,UPPER MOUNT ROYAL,1,31,1920000.0,High
27,VAL,VALLEY RIDGE,1,31,784500.0,High
28,WHL,WEST HILLHURST,1,31,882500.0,High
29,WLD,WILDWOOD,1,31,850500.0,High
30,ASP,ASPEN WOODS,0,122,1060000.0,High
31,BEL,BEL-AIRE,0,122,2480000.0,High
32,BRT,BRITANNIA,0,122,2045000.0,High
33,BYV,BAYVIEW,0,122,1395000.0,High
34,CGR,COUGAR RIDGE,0,122,761000.0,High
35,CHK,CHINOOK PARK,0,122,913500.0,High
36,CHR,CHRISTIE PARK,0,122,983000.0,High
37,COL,COLLINGWOOD,0,122,770750.0,High
38,CRM,CRESTMONT,0,122,839000.0,High
39,DIA,DIAMOND COVE,0,122,767500.0,High
40,HAM,HAMPTONS,0,122,979000.0,High
41,HUX,HUXLEY,0,122,11497750.0,High
42,MAF,MAYFAIR,0,122,1495000.0,High
43,OPH,OSPREY HILL,0,122,12960200.0,High
44,PUM,PUMP HILL,0,122,1220000.0,High
45,QPK,QUEENS PARK VILLAGE,0,122,42860000.0,High
46,RMT,ROSEMONT,0,122,835000.0,High
47,ROX,ROXBORO,0,122,1845000.0,High
48,SCA,SCARBORO,0,122,964750.0,High
49,SHW,SHERWOOD,0,122,796000.0,High
50,SPH,SPRINGBANK HILL,0,122,820000.0,High
51,SSW,SCARBORO/ SUNALTA WEST,0,122,1070000.0,High
52,THS,TWINHILLS,0,122,1190000.0,High
53,UNI,UNIVERSITY HEIGHTS,0,122,1040000.0,High
54,WSP,WEST SPRINGS,0,122,780500.0,High

As we can see from our analysis of the communities that are marked as "high" value they do not necessarily have the most amenities. 3 of the top 5 comunities with most amenities have low property values. Additionally, a number of communities listed as having zero amenities have high property values.

#### At each price level (low, medium, high) which communities have the most amenities?
(see below for a listing of top 5 communities by ammenity each price level -low, medium and high)

The communities listed in here are "ideal" to buy a property in based on access to amenities.

In [24]:
query = """
WITH ranked AS (
    SELECT 
        comm_code,
        community_name,
        service_count,
        service_rank,
        median_re_assessed_value,
        property_value_class,
        ROW_NUMBER() OVER (
            PARTITION BY property_value_class 
            ORDER BY service_count DESC
        ) AS rank_within_class
    FROM Communities_service_and_value
)
SELECT 
    comm_code,
    community_name,
    service_count,
    service_rank,
    median_re_assessed_value,
    property_value_class
FROM ranked
WHERE rank_within_class <= 5
ORDER BY property_value_class, service_count DESC;
"""

df_top5_by_class = pd.read_sql_query(query, engine)
df_top5_by_class

,comm_code,community_name,service_count,service_rank,median_re_assessed_value,property_value_class
0,UOC,UNIVERSITY OF CALGARY,4,4,24770000.0,High
1,CAP,CAPITOL HILL,2,9,766000.0,High
2,MOP,MOUNT PLEASANT,2,9,777500.0,High
3,STA,ST. ANDREWS HEIGHTS,2,9,1000000.0,High
4,ALT,ALTADORE,1,31,1000000.0,High
5,DNC,DOWNTOWN COMMERCIAL CORE,24,1,146500.0,Low
6,BLN,BELTLINE,6,2,229000.0,Low
7,FLN,FOREST LAWN,5,3,467500.0,Low
8,BRD,BRIDGELAND/RIVERSIDE,3,6,362500.0,Low
9,DNW,DOWNTOWN WEST END,2,9,37000.0,Low
10,HUN,HUNTINGTON HILLS,4,4,578000.0,Medium
11,HOU,HOUNSFIELD HEIGHTS/BRIAR HILL,3,6,715500.0,Medium
12,ING,INGLEWOOD,3,6,549000.0,Medium
13,ACA,ACADIA,2,9,595000.0,Medium
14,ARB,ARBOUR LAKE,2,9,683000.0,Medium

### Close Engine for SQL Alchemy

In [25]:
engine.dispose()

### References

City of Calgary. (2025a). Community Services [Data set]. Open Calgary. 
    https://data.calgary.ca/Services-and-Amenities/Community-Services/x34e-bcjz/about_data 

City of Calgary. (2025b). Current Year Property Assessments (Parcel) [Data set]. Open Calgary.
    https://data.calgary.ca/Government/Current-Year-Property-Assessments-Parcel-/4bsw-nn7w/about_data  

City of Calgary. (2025c). Community Points [Data set]. Open Calgary. 
    https://data.calgary.ca/Base-Maps/Community-Points/j9ps-fyst/about_data